.App {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Mali", cursive;
}

.App .dictionary-image {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  animation: floatBounce 3s ease-in-out infinite;
}

.App h1 {
  text-align: center;
  font-family: "Mali", cursive;
  font-weight: 600;
  color: #ffd500;
}

.App a {
  color: #510087;
  text-decoration: none;
}

.App footer {
  margin: 30px 0;
  font-size: 12px;
  font-family: "Host Grotesk", sans-serif;
}

.App footer a:hover {
  color: #ffd500;
}

@keyframes floatBounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}
