.Dictionary section {
  padding: 30px;
  border: 1px solid rgba(242, 242, 242, 0.2);
  background-color: rgba(242, 242, 242, 0.2);
  border-radius: 8px;
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 10px 6px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #333;
}
